td, th {
  border: solid 3px;
  }

table {
  border-collapse:  collapse;
}

td {
  background-color: darkgreen;
}

td:hover {
  background-color: rgb(2, 134, 2);
}

// td > div {
//   width: 50px;
//   height: 50px;
// }
